<h1>ShortUrls#Show</h1>
<font style="color:red;">
<h2>La URL corta <%= @short_url.id %></h2>
</font>

<p> Pertenece a: </p>
<h3> <%= @short_url.url %> </h3>
<p> visitas: <%= @short_url.visits_counter %> </p>
<br>
